/**********size:> 1201*********/
@media (min-width: 1201px) {
  .banner .banner-title h1 {
    font-size: 100px; }

  .gallary .row-pic .pic {
    float: left; }
    .gallary .row-pic .pic .pic-hover {
      width: 92.5%;
      padding-top: 30%; } }
/******size: 960-1200********/
@media (min-width: 960px) and (max-width: 1200px) {
  .banner .banner-title h1 {
    font-size: 90px; }

  .gallary .row-pic .pic {
    float: left; }
    .gallary .row-pic .pic .pic-hover {
      width: 91%;
      padding-top: 25%; } }
/************size: 768-959******************/
@media (min-width: 768px) and (max-width: 959px) {
  .banner .banner-img {
    height: 600px;
    width: 100%; }
    .banner .banner-img img {
      height: 600px; }
    .banner .banner-img .banner-title {
      margin-top: -80px;
      margin-left: -230px; }
      .banner .banner-img .banner-title h1 {
        font-size: 70px; }
  .banner .banner-content {
    margin-top: -30px;
    margin-left: -70px; }
    .banner .banner-content .down {
      margin-top: 25%; }
    .banner .banner-content #btn-cta {
      margin-top: 5px;
      padding: 10px 20px 10px 20px;
      font-size: 16px; }
    .banner .banner-content p {
      font-size: 17px; }

  .gallary .row-pic .pic .pic-hover {
    width: 346px;
    margin: 0 auto 30px;
    height: auto;
    padding-top: 28%; }

  .container-slogan p {
    font-size: 17px; } }
/************size: 480-767******************/
@media (min-width: 480px) and (max-width: 767px) {
  .container-logo {
    padding-left: 105px;
    height: 60px; }

  .banner {
    margin-top: 70px; }
    .banner .banner-img {
      height: 400px; }
      .banner .banner-img img {
        height: 400px; }
      .banner .banner-img .banner-title {
        margin-top: -80px;
        margin-left: -160px; }
        .banner .banner-img .banner-title h1 {
          font-size: 50px; }
        .banner .banner-img .banner-title p {
          font-size: 13px; }
    .banner .banner-content {
      margin-top: -30px;
      margin-left: -50px; }
      .banner .banner-content .down {
        margin-top: 10%; }
      .banner .banner-content .btn-common-banner {
        margin-top: 5px;
        padding: 5px 15px 5px 15px;
        font-size: 13px; }

  .wrapper {
    padding: 40px 30px 50px 30px; }

  .container-slogan h2 {
    font-size: 30px; }
  .container-slogan p {
    font-size: 15px; }

  .gallary {
    padding: 50px 0; }
    .gallary .row-pic .pic img {
      width: 350px;
      margin: 0 auto 30px; }
    .gallary .row-pic .pic .pic-hover {
      margin: 0 auto 30px;
      width: 350px;
      padding-top: 100px; }

  .stay-wa {
    padding: 50px 0;
    min-height: 630px; }

  .footer .footer-img {
    text-align: center;
    margin-bottom: 30px; }
  .footer .footer-row {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px; } }
/************size: 375-479******************/
@media (min-width: 375px) and (max-width: 479px) {
  .container-logo {
    padding-left: 35px;
    height: 60px; }

  .banner {
    margin-top: 70px; }
    .banner .banner-img {
      height: 300px; }
      .banner .banner-img img {
        height: 300px; }
      .banner .banner-img .banner-title {
        margin-top: -80px;
        margin-left: -150px; }
      .banner .banner-img p {
        padding-top: 10px;
        font-size: 12px; }
    .banner .banner-content {
      margin-top: 10px;
      margin-left: -90px;
      padding: 0 30px; }
      .banner .banner-content .down {
        margin-top: 10%; }
      .banner .banner-content .btn-common-banner {
        margin-top: 5px;
        padding: 5px 15px 5px 15px;
        font-size: 14px; }

  .container-slogan h2 {
    font-size: 30px; }
  .container-slogan p {
    font-size: 15px; }

  .wrapper {
    padding: 30px 30px 50px 30px; }

  .header-icon .icon p {
    font-size: 12px; }

  .gallary {
    padding: 30px 0; }
    .gallary .des-pic {
      font-size: 30px;
      padding-left: 10px;
      padding-right: 10px; }
      .gallary .des-pic h1 {
        font-size: 30px; }
      .gallary .des-pic p {
        font-size: 15px; }
    .gallary .row-pic .pic img {
      width: 300px;
      margin: 0 auto 30px; }
    .gallary .row-pic .pic .pic-hover {
      width: 300px;
      margin: 0 auto;
      padding-top: 20%;
      height: 216px; }

  .stay-wa {
    padding: 30px 0;
    min-height: 600px; }
    .stay-wa h3 {
      font-size: 30px; }
    .stay-wa .form-info .input-text {
      height: 55px; }
    .stay-wa .form-info #btn-submit {
      float: right;
      padding: 10px 30px 10px 30px;
      margin-bottom: 20px; }

  .footer .footer-img {
    text-align: center;
    margin-bottom: 30px; }
  .footer .footer-row {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px; } }
/************size: < 374 ******************/
@media (max-width: 374px) {
  .container-logo {
    padding-left: 35px;
    height: 60px; }

  .banner {
    margin-top: 60px; }
    .banner .banner-img {
      height: 300px; }
      .banner .banner-img img {
        height: 300px; }
      .banner .banner-img .banner-title {
        margin-top: -80px;
        margin-left: -150px; }
      .banner .banner-img p {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px; }
      .banner .banner-img hr {
        width: 80%; }
    .banner .banner-content {
      margin-top: 10px;
      margin-left: -65px;
      padding: 0 10px; }
      .banner .banner-content .down {
        margin-top: 15%; }
      .banner .banner-content .btn-common-banner {
        margin-top: 15px;
        padding: 5px 15px 5px 15px;
        font-size: 13px; }

  .container-slogan h2 {
    font-size: 30px; }
  .container-slogan p {
    font-size: 15px; }

  .wrapper {
    padding: 30px 30px 50px 30px; }

  .header-icon .icon p {
    font-size: 12px; }

  .gallary {
    padding: 30px 0; }
    .gallary .des-pic h1 {
      font-size: 30px;
      padding-left: 10px;
      padding-right: 10px; }
    .gallary .row-pic .pic img {
      width: 220px;
      margin: 0 auto 30px; }
    .gallary .row-pic .pic .pic-hover {
      margin: 0 auto 30px;
      width: 220px;
      padding-top: 60px; }
      .gallary .row-pic .pic .pic-hover .pic-icon a {
        padding: 7px 9px; }

  .stay-wa {
    padding: 30px 0;
    min-height: 600px; }
    .stay-wa h3 {
      font-size: 30px; }
    .stay-wa .form-info .input-text {
      height: 55px; }
    .stay-wa .form-info #btn-submit {
      float: right;
      padding: 10px 30px 10px 30px;
      margin-bottom: 20px; }

  .footer .footer-img {
    text-align: center;
    margin-bottom: 30px; }
  .footer .footer-row {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px; } }

/*# sourceMappingURL=responsive.css.map */
