body {
  background-color: white; }

.content-common {
  margin-top: 50px; }

.container-body {
  position: relative;
  top: 0;
  height: 100%; }

/*******NAVBAR******/
.bar-container {
  position: fixed;
  height: 90px;
  z-index: 2;
  width: 100%;
  background: #f6f9f9;
  top: 0;
  padding: 20px 40px 50px 40px; }
  .bar-container img {
    margin-bottom: 40px; }
  .bar-container .list-nav {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .bar-container .bar-tog .icon-bar {
    color: #337ab7;
    background-color: #337ab7; }
  .bar-container .bar-coll {
    border: none;
    background-color: #f6f9f9;
    padding-right: 20px;
    float: right; }
    .bar-container .bar-coll .navbar-nav li a {
      color: #337ab7; }
      .bar-container .bar-coll .navbar-nav li a:hover {
        color: black; }
  .bar-container .logout-fa {
    font-size: 20px;
    float: right;
    margin-top: 15px;
    display: block; }

.container-content {
  margin-top: 90px; }

.navbar {
  background-color: #f6f9f9;
  border: none; }

.checkbox {
  float: left; }

.submit {
  float: right; }

.login-form {
  border: 1px solid #2b669a;
  border-radius: 1px;
  padding: 20px 10px 40px 10px;
  margin-top: 30px; }

/********BUTTON************/
.banners .btn-edit, .showcase .btn-edit, .staywithat .btn-edit, .simple .btn-edit {
  float: left;
  margin-top: 10px;
  padding: 10px 15px; }
.banners .btn-add, .showcase .btn-add, .staywithat .btn-add, .simple .btn-add {
  padding: 10px 25px; }
.banners .btn-del, .showcase .btn-del, .staywithat .btn-del, .simple .btn-del {
  float: right;
  margin-top: 10px;
  padding: 10px 15px; }

.modal-body img {
  width: 99%;
  margin-bottom: 30px; }

/*****************fontawesome*****************/
.fa-common .trash-icon {
  font-size: 20px; }
.fa-common .plus-fa {
  font-size: 25px; }
.fa-common .fa-editbanner {
  font-size: 20px; }

.fa-editbanner {
  padding-left: 5px; }

/***************edit banner**********/
.input-description {
  height: 100px;
  padding-bottom: 50px; }

.social {
  margin-top: 50px; }
  .social .link {
    border: none; }

#message {
  height: 100px;
  padding-bottom: 50px; }

@media (min-width: 377px) and (max-width: 767px) {
  .bar-container img {
    margin-top: -15px; }
  .bar-container .bar-tog {
    margin-right: 40px; }
  .bar-container .logout-fa {
    margin-top: -47px;
    margin-right: -30px; }
  .bar-container .bar-coll {
    margin-top: 15px;
    float: none; }

  .banners, .simple, .showcase, .staywithat {
    padding-top: 30px; }
    .banners .btn-add, .simple .btn-add, .showcase .btn-add, .staywithat .btn-add {
      padding: 10px 15px;
      float: right; }
    .banners .btn-edit, .simple .btn-edit, .showcase .btn-edit, .staywithat .btn-edit {
      margin-bottom: 15px; }

  .social .btn-save {
    margin-left: 15px; }
  .social .name-show {
    display: none; }

  .staywithat .email-show {
    display: none; }
  .staywithat .mess {
    text-overflow: ellipsis; } }
@media (max-width: 376px) {
  .bar-container {
    padding: 20px 20px 50px 40px; }
    .bar-container .logout-fa {
      margin-top: -55px;
      margin-right: -30px; }
    .bar-container .bar-coll {
      float: none; }

  .banners, .simple, .showcase, .staywithat {
    padding-top: 30px; }
    .banners .btn-add, .simple .btn-add, .showcase .btn-add, .staywithat .btn-add {
      padding: 10px 15px;
      float: right; }
    .banners .btn-edit, .simple .btn-edit, .showcase .btn-edit, .staywithat .btn-edit {
      margin-bottom: 15px; }
    .banners .totalrow, .simple .totalrow, .showcase .totalrow, .staywithat .totalrow {
      font-size: 25px; }

  .staywithat .id-show {
    display: none; }
  .staywithat .email-show {
    display: none; }
  .staywithat .mess {
    text-overflow: ellipsis; }

  .social .name-show {
    display: none; } }

/*# sourceMappingURL=admin.css.map */
