body{
  background-color:white;
}
//**************
.content-common{
  margin-top: 50px;
}
.container-body{
  position: relative;
  top:0;
  height: 100%;
}
/*******NAVBAR******/
.bar-container{
  position: fixed;
  height: 90px;
  z-index: 2;
  width:100%;
  background:#f6f9f9;
  top:0;
  padding:20px 40px 50px 40px;
  img{
    margin-bottom: 40px;
  }
  .list-nav{
    //float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .bar-tog{
    .icon-bar{
      color: #337ab7;
      background-color: #337ab7;
    }
  }
  .bar-coll{
    border: none;
    background-color: #f6f9f9;
    padding-right: 20px;
    float: right;
    .navbar-nav{
      li a{
        color: #337ab7;
        &:hover{
          color: black;
        }
      }
    }

  }

  .logout-fa{
    font-size: 20px;
    float: right;
    margin-top:15px;
    display: block;
  }

}
.container-content{
  margin-top: 90px;
}
.navbar{
  background-color: #f6f9f9;
  border: none;
}
//*****************LOGIN************
.checkbox{
  float: left;
}
.submit{
  float: right;
}
.login-form{
  border:1px solid #2b669a; border-radius: 1px;
  padding: 20px 10px 40px 10px;
  margin-top: 30px;

}

/********BUTTON************/

.banners, .showcase, .staywithat, .simple{
  .btn-edit{
    float:left;
    margin-top:10px;
    padding:10px 15px;
  }
  .btn-add{
    padding:10px 25px;
  }
  .btn-del{
    float:right;
    margin-top:10px;
    padding:10px 15px;

  }
}
.modal-body{
  img{
    width:99%;
    margin-bottom: 30px;
  }
}
/*****************fontawesome*****************/
.fa-common{
  .trash-icon{
    font-size: 20px;
  }
  .plus-fa{
    font-size: 25px;
  }
  .fa-editbanner{
    font-size: 20px;
  }
}
.fa-editbanner{
  padding-left:5px;
}
/***************edit banner**********/
.input-description{
  height: 100px;
  padding-bottom: 50px;
}
//*********social***********
.social{
  margin-top:50px;
  .link{
    border:none;
  }
}

//stay with at message
#message{
  height: 100px;
  padding-bottom: 50px;
}
//*********************RESPONSIVE*****************//
@media (min-width: 377px) and (max-width:767px){
  .bar-container{
    img{
      margin-top: -15px;
    }
    .bar-tog{
      margin-right:40px;
    }
    .logout-fa{
      margin-top: -47px;
      margin-right: -30px;
    }
    .bar-coll{
      margin-top: 15px;
      float: none;
    }
  }
  //BANNER, SIMPLE,SHOWCASE, STAYWITHAT, SOCIAL
  .banners, .simple,.showcase,.staywithat{
    padding-top:30px;
    .btn-add{
      padding: 10px 15px;
      float: right;
    }
    .btn-edit{
      margin-bottom: 15px;
    }
  }
  .social{
    .btn-save{
      margin-left: 15px
    }
    .name-show{
      display: none;
    }
  }
  .staywithat {
    .email-show {
      display: none;
    }
    .mess{
      text-overflow:ellipsis;
    }
  }
}
@media (max-width: 376px) {
  .bar-container{
    padding:20px 20px 50px 40px;
    .logout-fa{
      margin-top: -55px;
      margin-right: -30px;
    }
    .bar-coll{
      float: none;
    }
  }
  //BANNER, SIMPLE,SHOWCASE, STAYWITHAT, SOCIAL
  .banners, .simple,.showcase,.staywithat {
    padding-top: 30px;
    .btn-add {
      padding: 10px 15px;
      float: right;
    }
    .btn-edit{
      margin-bottom: 15px;
    }
    .totalrow{
      font-size: 25px;
    }
  }
  .staywithat {
    .id-show {
      display: none;
    }
    .email-show {
      display: none;
    }
    .mess{
      text-overflow:ellipsis;
    }
  }
  .social{
    .name-show{
      display: none;
    }
  }
}